html{
	background-image: url('../img/fond.png');
}

body{
	background-image: url('../img/fond.png');
}

.errorSpan{
	color: red;
	display: none;
}

#responseSendMail{
	margin-top: 10px;
	display: none;
	text-align: center;
}

.container, legend{
	background: #2B3E50;
	color: #6495ED;
}

.pitch{
	font-size: 2rem;
}

.jumbotron{
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	background: #4E5D6C;
}

.jumbotron h1{
	color: #6495ED;
}